<div *ngIf="!player">
  Chargement en cours ...
</div>

<div>
  <a [routerLink]="['/']" class="btn btn-info mb-3">Retour</a>
</div>

<div *ngIf="player">
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid" src="{{ player.image }}" alt="Photo de {{ player.nom }} - {{ player.prenom }}"/>
    </div>

    <div class="col-md-6">
      <div class="col-md-12">
        <h2>La fiche de {{ player.nom }} - {{ player.prenom }}</h2>
      </div>

      <div class="col-md-12">{{ player.poste }}</div>
    </div>
  </div>
</div>
