<h1>Ajouter un nouveau joueur</h1>

<div *ngIf="isLoading" class="spinner-border text-primary" role="status">
  <span class="sr-only"></span>
</div>

<div *ngIf="!isLoading">
<div>
  <a [routerLink]="['/']" class="btn btn-info mb-3">Retour</a>
</div>

<form #playerGlobalValidation="ngForm" (submit)="addPlayer()" >

  <div class="form-group">
    <label for="nom">Nom du joueur</label>
    <input #nomValidation="ngModel" type="text" name="nom" required
           class="form-control" id="nom"
           aria-describedby="nomHelp"
           placeholder="Entrez le nom du joueur"
            [(ngModel)]="formPlayer.nom">
    <small *ngIf="!nomValidation.valid" id="nomHelp" class="text-danger">Veuillez saisir le nom du joueur</small>
  </div>

  <div class="form-group">
    <label for="prenom">Prénom du joueur</label>
    <input type="text" class="form-control" name="prenom" required
           #validationPrenom="ngModel" [(ngModel)]="formPlayer.prenom"
           id="prenom" aria-describedby="prenomHelp"
           placeholder="Entrez le nom du joueur">
    <small *ngIf="!validationPrenom.valid" id="prenomHelp"
           class="text-danger">Veuillez saisir le prénom du joueur</small>
  </div>

  <div class="form-group">
    <label for="poste">Poste du joueur</label>
  <select aria-describedby="posteHelp"
          #validationPoste="ngModel"
          id="poste" name="poste" [(ngModel)]="formPlayer.poste" required
          class="form-select"
          aria-label="Default select example">
    <option *ngFor="let poste of availablePost" [value]="poste">{{ poste }}</option>
  </select>
    <small *ngIf="!validationPoste.valid" id="posteHelp" class="text-danger">Veuillez saisir le prénom du joueur</small>
  </div>


  <div class="form-group">
    <label for="image">Photo du joueur</label>
    <input type="text" name="image" [(ngModel)]="formPlayer.image"
           #validationImage="ngModel" required
           class="form-control" id="image" aria-describedby="imageHelp" placeholder="Entrez l'url de l'image">
    <small *ngIf="!validationImage.valid" id="imageHelp" class="text-danger">Url de l'image du joueur</small>
  </div>

  <button [disabled]="!playerGlobalValidation.valid" type="submit"
          class="btn btn-primary mt-3">Submit</button>
</form>
</div>
