<h1>Les joueurs selectionnés !</h1>

<div class="loader" *ngIf="!players">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only"></span>
  </div>
</div>

<div *ngIf="players">
  <div>
    <a [routerLink]="['/nouveau']" class="btn btn-info mb-3">Ajouter un joueur</a>
  </div>
  <div class="row">
    <div *ngFor="let player of players" class="card col-md-4 m-2" style="width: 18rem;">
      <img class="card-img-top card-img picture" src="{{ player.image }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ player.nom |  uppercase }} - {{ player.prenom }}</h5>
        <p class="card-text">{{ player.poste }}</p>

        <a [routerLink]="[player.id]" class="btn btn-primary">Voir la fiche du joueur !</a>

        <a *ngIf="player.id" (click)="deletePlayer(player.id)" class="btn btn-warning mt-3">Supprimer le joueur !</a>

      </div>
    </div>
  </div>
</div>
