/* You can add global styles to this file, and also import other style files */
.loader{
  margin-top: 25%;
  text-align: center;
}

.spinner-border{
  margin: auto;
  width: 20rem !important;
  height: 20rem !important;
}
