<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><a class="navbar-brand" href="#">
      <img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      F.F.F Euro 2021
    </a></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="'/'">Tous les joueurs</a>
        </li>
        <li class="nav-item" *ngFor="let poste of postes">
          <a (click)="navigate(poste)" class="nav-link">{{poste}}</a>
        </li>
      </ul>
    </div>
  </div>

<!--
<nav class="navbar navbar-light bg-light ">
  <div class="container-fluid">
  <div class="m-auto">
  <a class="navbar-brand" href="#">
    <img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    F.F.F Euro 2021
  </a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
    </ul>
  </div>
  </div>
</nav>-->
